
<p></p>
<!--nav class="navbar navbar-expand-sm navbar-dark bg-primary">
   
    <a class="navbar-brand" href="#">Consultation des comptes</a>
    
</nav-->


<div class="container">
        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
            
            
                <tr bgcolor= "#c1d1d7">
                    <th></th>
                    <th >Compte</th>
                    <th >intitulé</th>
                    <th > Debit</th>
                    <th >Credit </th>
                    <th >*****</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" width=100 ><button > <img src ="https://media3.picsearch.com/is?uD5OiaWXSAIQJ84XrhLPh3OJPnri9lYrLJSyhWMbAys&height=204" width="30" height="30"></button></td>
                        <td width=200 >65415</td>
                        <td  >materiels informatique</td>
                        <td  width=200 >65416</td>
                        <td width=200  >capital</td>
                        <td  width=200  > <button> <img src="https://image.flaticon.com/icons/png/512/54/54901.png" width="20" height="20"></button> <button> <img src="https://image.flaticon.com/icons/png/512/70/70287.png" width="20" height="20"></button> </td>
    
                    </tr>
                    <tr>
                        <td scope="row"><button > <img src ="https://media3.picsearch.com/is?uD5OiaWXSAIQJ84XrhLPh3OJPnri9lYrLJSyhWMbAys&height=204" width="30" height="30"></button></td>
                        <td >65416</td>
                        <td >capital</td>
                        <td >65416</td>
                        <td>capital</td>
                        <td><button> <img src="https://image.flaticon.com/icons/png/512/54/54901.png" width="20" height="20"></button>  <button> <img src="https://image.flaticon.com/icons/png/512/70/70287.png" width="20" height="20"></button> </td>
                        
                        
                    </tr>
                    <tr>
                        <td scope="row"><button > <img src ="https://media3.picsearch.com/is?uD5OiaWXSAIQJ84XrhLPh3OJPnri9lYrLJSyhWMbAys&height=204" width="30" height="30"></button></td>
                        <td width=100 >65417</td>
                        <td>banque</td>
                        <td>65416</td>
                        <td>capital</td>
                        <td><button> <img src="https://image.flaticon.com/icons/png/512/54/54901.png" width="20" height="20"></button>  <button> <img src="https://image.flaticon.com/icons/png/512/70/70287.png" width="20" height="20"></button> </td>
                        
                        
                    </tr>
                    <tr>
                        <td scope="row"><button > <img src ="https://media3.picsearch.com/is?uD5OiaWXSAIQJ84XrhLPh3OJPnri9lYrLJSyhWMbAys&height=204" width="30" height="30"></button></td>
                        <td>65418</td>
                        <td>marchandise</td>
                        <td>65416</td>
                        <td>capital</td>
                        <td><button> <img src="https://image.flaticon.com/icons/png/512/54/54901.png" width="20" height="20"></button>  <button> <img src="https://image.flaticon.com/icons/png/512/70/70287.png" width="20" height="20"></button> </td>
                        
                        
                    </tr>
                </tbody>
        </table>
    </div>
